{
  "useTabs": false,
  "tabWidth": 4,
  "endOfLine": "lf",
  "singleQuote": true,
  "semi": false,
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ]
}
